.section {
  width: 100%;
  padding: 0;
  overflow-x: auto;
  background: transparent;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.theadRow {
  background-color: #523B7E99;

}

.th {
  height: 56px;
  padding: 0 58px;
  text-align: left;
  color: #fff;
  font-weight: 600;
  font-size: 16px;

  &:first-child {
    border-radius: 16px 0 0 16px;
  }

  &:last-child {
    border-radius: 0 16px 16px 0;
  }
}

.th:nth-child(1) {
  width: 120px;
}

.th:nth-child(2) {
  width: 80px;
  text-align: center;
}

.th:nth-child(3) {
  width: 180px;
}

.th:nth-child(5) {
  width: 120px;
  text-align: center;
}

.th:nth-child(6) {
  width: 150px;
}

.row {
  height: 58px;
}

.row:hover {
  background: rgba(255, 255, 255, 0.03);
}

.cell {
  padding: 0 18px;
  height: 58px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
}

.cell:nth-child(2) {
  text-align: center;
}

.cellSum {
  text-align: center;
}

.cellActions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.typeBadge {
  font-size: 18px;
}

.income {
  color: #ffdb4d;
}

.expense {
  color: #ffffff;
}

.sumPositive {
  color: #ffdb4d;
  font-weight: 700;
}

.sumNegative {
  color: #ff6596;
  font-weight: 700;
}

.editBtn {
  width: 18px;
  height: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  img {
    width: 14px;
    height: 14px;
    display: block;
  }

  &:hover {
    transform: scale(1.15);
  }
}

.deleteBtn {
  width: 69px;
  height: 29px;

  border: none;
  border-radius: 18px;

  background: linear-gradient(
    90deg,
    #ffc727 0%,
    #fd6681 100%
  );

  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;

  transition: .2s;
}

.deleteBtn:hover {
  transform: scale(1.05);
}

.addBtn {
  position: fixed;
  right: 40px;
  bottom: 40px;

  width: 44px;
  height: 44px;

  border: none;
  border-radius: 50%;

  background: linear-gradient(
    180deg,
    #ffc727,
    #9e40ba,
    #7000ff
  );

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 8px 20px rgba(0, 0, 0, .25);

  &::before {
    content: "+";
    color: white;
    font-size: 34px;
    line-height: 1;
  }
}